a{
    color:orange;
    text-decoration: none;
    border-radius: 15%;

    }
    a:hover {
    font-size: x-large;
    color: brown;
    background: whitesmoke;
    }
    
    .puzle{
    
        color: blue;
        text-align: center;
        text-indent: 5px;
    text-decoration: solid;
    font-size: large;
    padding-top: -20%;
    line-height: normal;
    
    
    }